{% extends "base.html" %}
{% block title %}
     Профайл пользователя 
        {% if post.author.get_full_name  %}
        {{ post.author.get_full_name }}
         {% else %}
          {{author}}    
        {% endif %} 
{% endblock %}
{% block content %}
    </body>
      <div class="container py-5">        
        <h1>Все посты пользователя {{author}} </h1>
        <h3>Всего постов: {{ posts_count }} </h3>   
        <article>
        {% for post in page_obj %}
          <ul>
            <li>
              Автор: {% if post.author.get_full_name  %}
              {{ post.author.get_full_name }}
               {% else %}
               {{ author }}    
              {% endif %} 
              <a href="">все посты пользователя</a>
            </li>
            <li>
              Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
          </ul>
          <p>{{ post.text }}</p>
          <li>
            <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
          </li>
          <li>
            <a href="{% url 'posts:index' %}">Вернуться на главную</a>
            </li>
        </article>       
        {% if post.group %}  
        <li>Группа: {{ post.group }}
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
        </li> 

        {% endif %}        
        <hr>
        {% endfor %}
        {% include 'posts/includes/paginator.html' %}
      </div>
    </main>
    </body>
{% endblock %}